/* let's define the system fonts */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/*... and then apply it to an element */
body {
  font-family: "system";
  margin: 0;
  display: flex;
  text-align: center
}

body > div {
  width: 50%;
  outline: 1px solid #ccc;
}
      
  .circle {
    fill-opacity: 0;
    animation-name: fader, pulse;
    animation-duration: 1s, 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .circle1 {
    animation-delay: 0; 
  }

  .circle2 {
    animation-delay: .1s; 
  }

  .circle3 {
    animation-delay: .2s;
  }

  .circle4 {
    animation-delay: .3s;
  }

  .circle5 {
    animation-delay: .4s;
  }

  .circle6 {
    animation-delay: .5s;
  }

  .circle7 {
    animation-delay: .6s;
  }

  .circle8 {
    animation-delay: .7s;
  }

  .circle9 {
    animation-delay: .8s;
  }

  .circle10 {
    animation-delay: .9s;
  }


/* The animations */
@-webkit-keyframes pulse {
  
  0%  {
    transform: scale(1.1);
  }

  100%{
    transform: scale(0.9);
  }

}

@-moz-keyframes pulse {
  
  0%  {
    transform: scale(1.1);
  }

  100%{
    transform: scale(0.9);
  }

}

@-webkit-keyframes fader {
  
  0% {
    fill-opacity: 1;
  }

  100% {
    fill-opacity: 0;
  }

}

@-moz-keyframes fader {
  0%  {
    fill-opacity: 0;
    transform: scale(1.0);
  }

  50%{
    fill-opacity: 1;
    transform: scale(0.8);
  }

  100%{
    fill-opacity: 0;
    transform: scale(1.0);
  }
}    